<div class="splitView" data-win-control="WinJS.UI.SplitView">
    <!-- Pane area -->
    <div>
        <div class="header">
            <button class="win-splitviewpanetoggle"
                    data-win-control="WinJS.UI.SplitViewPaneToggle"
                    data-win-options="{ splitView: select('.splitView') }"></button>
            <div class="title">SplitView Pane area</div>
        </div>

        <div class="nav-commands">
            <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Home', icon: 'home'}">Home</div>
            <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Favorite', icon: 'favorite'}">Favorite</div>
            <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Settings', icon: 'settings'}">Settings</div>
        </div>
    </div>
</div>